@model MVCRazerEngin.Models.Employee

@{
    ViewBag.Title = "Employees";
}
<h2> Employee Data </h2>
  Employee ID : <input type="text" value="@Model.id"></input> </br></br>
  Employee Name :  <input type="text" value="@Model.name"></input> </br></br>
  Employee Salary :  <input type="text" value="@Model.salary"></input> </br></br>

@Html.TextBox("Name", "Aniket");

@Html.TextBoxFor(x => x.salary);

@*Template new Binding*@


<a href="~/Views/Home/"></a>




