@model List<PolicyDtls>
@using PolicyModels;

@{
    PolicySearch policySearch = ViewBag.policySearch as PolicySearch;
}

<form action="/policydtls/index" method="post">
    <div>
        <div>
            <label for="id">
                Rec Id
            </label>
            <input type="text" name="RecIDSearch" value="@policySearch.RecIDSearch" />

        </div>
        <div>
            <label for="id">
                Customer Id
            </label>
            <input type="text" name="CustomerIDSearch" value="@policySearch.CustIDSearch" />

        </div>
        <div>
            <label for="id">
                Policyname
            </label>
            <input type="text" name="Policyname" value="@policySearch.Policyname" />

        </div>

        <input type="hidden" name="OrderBy" id="OrderBy" value="@policySearch.OrderBy" />
        <input type="hidden" name="ColumnName" id="ColumnName" value="@policySearch.ColumnName" />
        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@policySearch.CurrentPage" />


        <button id="btnSubmit" type="submit">Search</button>
    </div>


</form>

<table class="w3-table w3-table-all">
    <thead>
        <tr>
            <th><a onclick="sortData('id')" href="/policydtls/index?columnName=RecID&orderBy=@ViewData["orderBy"]"> Id </a></th>
            <th><a onclick="sortData('CustID')" href="/policydtls/index?columnName=CustID&orderBy=@ViewData["orderBy"]"> Customer ID </a></th>
            
            <th>Policyname</th>
            <th>PolicyStatus</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.RecID</td>
                <td> @item.CustID</td>
                <td> @item.Policyname</td>
                <td> @item.PolicyStatus</td>

            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (policySearch.CurrentPage == 1)
        {
            <li>
                <a onclick="pageChange(@(policySearch.CurrentPage))" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a onclick="pageChange(@(policySearch.CurrentPage -1))" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= policySearch.PageCount; i++)
        {
            if (i == policySearch.CurrentPage)
            {
                <li class="active"><a onclick="pageChange(@i)" href="#">@i</a></li>
            }
            else
            {
                <li><a onclick="pageChange(@i)" href="#">@i</a></li>
            }

        }


        @if (policySearch.CurrentPage == policySearch.PageCount)
        {
            <li>
                <a onclick="pageChange(@policySearch.CurrentPage)" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a onclick="pageChange(@(policySearch.CurrentPage +1))" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }

    </ul>
</nav>

<script>

    function pageChange(currentPage) {
        event.preventDefault();
        var cp = $("#CurrentPage").val();
        debugger;
        if (cp == currentPage) {
            return;
        }

        $("#CurrentPage").val(currentPage);
        $("#btnSubmit").click();
    }
    //JS function to sort data
    function sortData(columnName) {
        event.preventDefault();     //cancels the event if it is cancelable,
        //meaning that the default action that belongs to the event will not occur.
        var orderBy = $("#OrderBy").val();

        if (orderBy == 'desc') {
            orderBy = 'asc'
        } else {
            orderBy = 'desc'
        }

        $("#OrderBy").val(orderBy)
        $("#ColumnName").val(columnName)

        $("#btnSubmit").click();
    }

</script>