@model List<PolicyDtls>
@using PolicyModels;

@{
    PolicySearch policySearch = ViewBag.policySearch as PolicySearch;
}
<head> 

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
         input[type=text] {
            width: 10%;
            padding: 8px 8px;
            margin: 2px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
            
        }

            input[type=text]:focus {
                border: 3px solid #555;
            }
        .header {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }

        .footer {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<div class="header">
    <h1>Policy Search </h1>

</div>

<form action="/policydtls/index" method="post">
    <div>
        <table>
            <thead> 
        <div>
            <label for="id">
                         Rec id
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="RecIDSearch" value="@policySearch.RecIDSearch" /><br />

                </div>
                <br />
            </thead>
            <thead>
        <div>
            <label for="id">
                        Customer Id
                    </label>
            <input type="text" name="CustomerIDSearch" value="@policySearch.CustIDSearch" /><br />

                </div>
                <br />
            </thead>
            <thead>
        <div>
            <label for="id">
                          Policyname 
            </label>
            <input type="text" name="Policyname" value="@policySearch.Policyname" /><br />

        </div><br />
            </thead>
        </table>

        <input type="hidden" name="OrderBy" id="OrderBy" value="@policySearch.OrderBy" />
        <input type="hidden" name="ColumnName" id="ColumnName" value="@policySearch.ColumnName" />
        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@policySearch.CurrentPage" />


        <button id="btnSubmit" type="submit">Search</button>
        <button id="btnpage1" class="btn btn-outline-success" type="submit" formaction="/PolicyDtls/page1" formmethod="get">page1</button>
    </div>


</form>


<table class="w3-table w3-table-all">
    <thead>
        <tr>
            <th><a onclick="sortData('id')" href="/policydtls/index?columnName=RecID&orderBy=@ViewData["orderBy"]"> Id </a></th>
            <th><a onclick="sortData('CustID')" href="/policydtls/index?columnName=CustID&orderBy=@ViewData["orderBy"]"> Customer ID </a></th>
            
            <th>Policyname</th>
            <th>PolicyStatus</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.RecID</td>
                <td> @item.CustID</td>
                <td> @item.Policyname</td>
                <td> @item.PolicyStatus</td>

            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (policySearch.CurrentPage == 1)
        {
            <li>
                <a onclick="pageChange(@(policySearch.CurrentPage))" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a onclick="pageChange(@(policySearch.CurrentPage -1))" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= policySearch.PageCount; i++)
        {
            if (i == policySearch.CurrentPage)
            {
                <li class="active"><a onclick="pageChange(@i)" href="#">@i</a></li>
            }
            else
            {
                <li><a onclick="pageChange(@i)" href="#">@i</a></li>
            }

        }


        @if (policySearch.CurrentPage == policySearch.PageCount)
        {
            <li>
                <a onclick="pageChange(@policySearch.CurrentPage)" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a onclick="pageChange(@(policySearch.CurrentPage +1))" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }

    </ul>
</nav>

<script>

    function pageChange(currentPage) {
        event.preventDefault();
        var cp = $("#CurrentPage").val();
        debugger;
        if (cp == currentPage) {
            return;
        }

        $("#CurrentPage").val(currentPage);
        $("#btnSubmit").click();
    }
    //JS function to sort data
    function sortData(columnName) {
        event.preventDefault();     //cancels the event if it is cancelable,
        //meaning that the default action that belongs to the event will not occur.
        var orderBy = $("#OrderBy").val();

        if (orderBy == 'desc') {
            orderBy = 'asc'
        } else {
            orderBy = 'desc'
        }

        $("#OrderBy").val(orderBy)
        $("#ColumnName").val(columnName)

        $("#btnSubmit").click();
    }

</script>
<div class="footer">
    <footer>
        <div class="spinner-border text-muted"></div>
        <div class="spinner-border text-primary"></div>
        <div class="spinner-border text-success"></div>
        <div class="spinner-border text-info"></div>
        <div class="spinner-border text-warning"></div>
        <div class="spinner-border text-danger"></div>
        <div class="spinner-border text-secondary"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
    </footer>
</div>