@using PolicyModels
@model CustomerDetails
@{
}
<form action="/customerdtls/index" method="post" class="form-group">
    <div class="container w3-margin-top">
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="id">
                    Customer ID
                </label>
                <input type="text" name="CustID" value="@Model.CustID" class="form-control" readonly/>
                @Html.ValidationMessage("CustID")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="id">
                    Customer ID
                </label>
                <input type="text" name="FName" value="@Model.FName" class="form-control" />
                @Html.ValidationMessage("FName")
            </div>
            <div class="col-sm-4">
                <label for="id">
                    Customer ID
                </label>
                <input type="text" name="Mname" value="@Model.Mname" class="form-control" />
                @Html.ValidationMessage("Mname")
            </div>
            <div class="col-sm-4">
                <label for="id">
                    Customer ID
                </label>
                <input type="text" name="Lname" value="@Model.Lname" class="form-control" />
                @Html.ValidationMessage("Lname")
            </div>
        </div>
        <button id="btnSave" type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;
    </div>
</form>