@model List<CustomerDetails>
@using PolicyModels;

@{
    CustomerSearch customerSearch = ViewBag.customerSearch as CustomerSearch;
}

<form action="/customerdtls/index" method="post">
    <div>
        <div>
            <label for="id">
                Rec Id
            </label>
            <input type="text" name="RecIDSearch" value="@customerSearch.RecIDSearch" />

        </div>
        <div>
            <label for="id">
               Customer Id
            </label>
            <input type="text" name="CustomerIDSearch" value="@customerSearch.CustIDSearch" />

        </div>
        <div>
            <label for="id">
                Fname
            </label>
            <input type="text" name="FNameSearch" value="@customerSearch.FNameSearch" />

        </div>

        <input type="hidden" name="OrderBy" id="OrderBy" value="@customerSearch.OrderBy" />
        <input type="hidden" name="ColumnName" id="ColumnName" value="@customerSearch.ColumnName" />
        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@customerSearch.CurrentPage" />


        <button id="btnSubmit" type="submit">Search</button>
    </div>


</form>

<table class="w3-table w3-table-all">
    <thead>
        <tr>
            <th><a onclick="sortData('id')" href="/customerdtls/index?columnName=RecID&orderBy=@ViewData["orderBy"]"> Id </a></th>
            <th><a onclick="sortData('CustID')" href="/customerdtls/index?columnName=CustID&orderBy=@ViewData["orderBy"]"> Customer ID </a></th>
            <th><a onclick="sortData('Fname')" href="/customerdtls/index?columnName=FName&orderBy=@ViewData["orderBy"]"> First Name </a></th>
            <th><a onclick="sortData('Mname')" href="/customerdtls/index?columnName=Mname&orderBy=@ViewData["orderBy"]"> Middle Name </a></th>
            <th> Last Name </th>
            <th> DOB </th>
            <th> Mobile No. </th>
            <th> Tel No. </th>
            <th> EmailID1 </th>
            <th> EmailID2 </th>
            <th> Pan Number </th>
            <th> Mother Name </th>
            <th> Qualification details </th>
            <th> Marital Status </th>
            <th> Nominee Name </th>
            <th> Nominee Age </th>
            <th> Nominee Cont No </th>
            <th> Created By </th>
            <th> Created Dt </th>
            <th> Updated By </th>
            <th> Updated Date </th>
            <th> Status </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.RecID</td>
                <td> @item.CustID</td>
                <td> @item.FName</td>
                <td> @item.Mname</td>
                <td> @item.Lname</td>
                <td> @item.DOB</td>
                <td> @item.MobNo</td>
                <td> @item.TelNo</td>
                <td> @item.EmailId1</td>
                <td> @item.EmailId2</td>
                <td> @item.PanNo</td>
                <td> @item.MotherName</td>
                <td> @item.NomineeName</td>
                <td> @item.NomineeAge</td>
                <td> @item.NomineeContNo</td>
                <td> @item.CreatedBy</td>
                <td> @item.CreatedDt</td>
                <td> @item.UpdatedBy</td>
                <td> @item.UpdatedDt</td>
                <td> @item.Status</td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (customerSearch.CurrentPage == 1)
        {
            <li>
                <a onclick="pageChange(@(customerSearch.CurrentPage))" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a onclick="pageChange(@(customerSearch.CurrentPage -1))" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= customerSearch.PageCount; i++)
        {
            if (i == customerSearch.CurrentPage)
            {
                <li class="active"><a onclick="pageChange(@i)" href="#">@i</a></li>
            }
            else
            {
                <li><a onclick="pageChange(@i)" href="#">@i</a></li>
            }

        }


        @if (customerSearch.CurrentPage == customerSearch.PageCount)
        {
            <li>
                <a onclick="pageChange(@customerSearch.CurrentPage)" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a onclick="pageChange(@(customerSearch.CurrentPage +1))" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }

    </ul>
</nav>

<script>

    function pageChange(currentPage) {
        event.preventDefault();
        var cp = $("#CurrentPage").val();
        debugger;
        if (cp == currentPage) {
            return;
        }

        $("#CurrentPage").val(currentPage);
        $("#btnSubmit").click();
    }
    //JS function to sort data
    function sortData(columnName) {
        event.preventDefault();     //cancels the event if it is cancelable, 
                                    //meaning that the default action that belongs to the event will not occur.
        var orderBy = $("#OrderBy").val();

        if (orderBy == 'desc') {
            orderBy = 'asc'
        } else {
            orderBy = 'desc'
        }

        $("#OrderBy").val(orderBy)
        $("#ColumnName").val(columnName)

        $("#btnSubmit").click();
    }

</script>