@model List<Address>
@using PolicyModels;

@{
    AddressSearch addressSearch = ViewBag.addressSearch as AddressSearch;
}

<form action="/address/index" method="post">
    <div>
        <div >
            <label for="id">
                Id
            </label>
            <input type="text" name="RecIDSearch" value="@addressSearch.RecIDSearch" />

        </div>
        <div>
            <label for="id">
                Id
            </label>
            <input type="text" name="CustomerIDSearch" value="@addressSearch.CustomerIDSearch" />

        </div>
        <div>
            <label for="id">
                Id
            </label>
            <input type="text" name="CustomerNameSearch" value="@addressSearch.CustomerNameSearch" />

        </div>

        <input type="hidden" name="OrderBy" id="OrderBy" value="@addressSearch.OrderBy" />
        <input type="hidden" name="ColumnName" id="ColumnName" value="@addressSearch.ColumnName" />
        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@addressSearch.CurrentPage" />
      
        
        <button id="btnSubmit" type="submit">Search</button>
    </div>


</form>

<table class="w3-table w3-table-all">
    <thead>
        <tr>
            <th> <a  onclick="sortData('id')" href="/address/index?columnName=id&orderBy=@ViewData["orderBy"]">Id</a> </th>
            <th><a onclick="sortData('CustomerID')" href="/address/index?columnName=CustomerID&orderBy=@ViewData["orderBy"]">Customer Id</a></th>
            <th> <a onclick="sortData('CustomerName')" href="/address/index?columnName=CustomerName&orderBy=@ViewData["orderBy"]">Customer</a></th>
            <th> Address</th>
             <th> PinCOde</th>
              <th> STate</th>
        </tr>
    </thead>

     <tbody>

        @foreach(var item in Model){
            <tr>
            <td> @item.RecID</td>
            <td>  @item.CustomerID</td>
            <td> @item.CustomerName</td>
            <td> @(item.Address1 +"," +item.Address2 +","+
            item.Address3)    
            </td>
             <td> @item.Pincode</td>
              <td> @item.State</td>
              </tr>
        }         
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if(addressSearch.CurrentPage==1)   {
            <li>
                <a onclick="pageChange(@(addressSearch.CurrentPage))" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        } else {
            <li>
                <a onclick="pageChange(@(addressSearch.CurrentPage -1))" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        
        @for(int i=1;i<=addressSearch.PageCount;i++){
            if(i==addressSearch.CurrentPage){
                <li class="active"><a onclick="pageChange(@i)" href="#">@i</a></li>
            }    else {
                <li><a onclick="pageChange(@i)" href="#">@i</a></li>
            }
           
        }
        
        
        @if(addressSearch.CurrentPage==addressSearch.PageCount)    {
            <li>
            <a onclick="pageChange(@addressSearch.CurrentPage)" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        } else {
            <li>
                <a onclick="pageChange(@(addressSearch.CurrentPage +1))" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
       
    </ul>
</nav>

<script>

    function pageChange(currentPage){
        event.preventDefault();       
       var cp= $("#CurrentPage").val();
                   debugger;
        if (cp == currentPage){
            return;
        }

        $("#CurrentPage").val(currentPage);
        $("#btnSubmit").click();
    }

    function sortData(columnName){
        event.preventDefault();
         var orderBy= $("#OrderBy").val();

         if(orderBy=='desc'){
            orderBy = 'asc'
         }   else {
            orderBy = 'desc'
         }

        $("#OrderBy").val(orderBy)
        $("#ColumnName").val(columnName)

        $("#btnSubmit").click();
    }

</script>